<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= config.title %>
    </title>
    <script src="https://unpkg.com/sober/dist/sober.min.js"></script>
    <script src="<%= url_for('js/layout.js') %>"></script>

    <link rel="stylesheet" href="<%= url_for('css/layout.css') %>">

    <link rel="stylesheet" href="<%= url_for('css/github-markdown.min.css') %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css">

</head>