<div class="articleList">
    <ul>
        <% page.posts.each(function(post){ %>
            <li>
                <a href="<%= url_for(post.path) %>">
                    <%- include('post_item', { post: post }) %>
                </a>
            </li>
        <% }); %>
    </ul>
    <div class="articleListIndexBar">
        <s-icon-button onclick="gotoPage('<%= page.prev %>')" <% if (page.prev <= 0) { %> disabled="true" <% } %>>
            <s-icon type="chevron_left"></s-icon>
        </s-icon-button>
        <s-icon-button onclick="gotoPage('<%= page.next %>')" <% if (page.next <= 0) { %> disabled="true" <% } %>>
            <s-icon type="chevron_right"></s-icon>
        </s-icon-button>
    </div>
</div> 